.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #FAFAFA;
    margin-left: 250px;
}

.main-content h1 {
    margin: 0;
    padding-bottom: 20px;
    color: #01A189; /* Color verde actualizado */
}

.main-content {
    /* Estilos previos... */
    padding: 20px;
    margin-left: 250px; /* Ajuste para el sidebar */
}
.main-content h1 {
    color: #673AB7;
}
.main-content {
    /* Estilos previos... */
    padding: 20px;
    margin-left: 250px; /* Ajuste para el sidebar */
    margin-top: 80px; /* Ajuste para el header */
}
.main-content h1 {
    color: #673AB7;
}
.main-content table {
    width: 100%;
    border-collapse: collapse;
}
.main-content th, .main-content td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
.main-content th {
    background-color: #01A189;
    color: white;
}
.main-content .action-buttons {
    display: flex;
    gap: 10px;
}
.main-content .action-buttons button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.main-content .action-buttons .view-button {
    background-color: #AC3B93;
    color: white;
}
.main-content .action-buttons .delete-button {
    background-color: #FF0000;
    color: white;
}
